/*Importo fonts de google: Quicksand 300-500-700*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
/*Inicializo las varianles en css*/
:root{
    --white:#fff;
    --black:#000;
    --very-light-pink:#bebaba;
    --text-input-field:#f7f7f7;
    --hospital-blue:#3680db;
    --bone-color: #fbfaf8;
    --sm:14px;
    --md:16px;
    --lg:18px;
    --card-size:300px;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    background-color: var(--bone-color);
}

.inactive {
    display: none;
    
}
/*----------------Menu----------------*/
.menu{
    display: none;
    width: 30px;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--very-light-pink);
    padding: 0 20px;
    height: 60px;
}
.logo{
    width: 50px;
    height: 50px;
    margin-top: 5px;
}
.navbar-left{
    display: flex;
}
.navbar-left ul{
    margin-left: 12px;
}
.navbar-left ul, .navbar-right ul{
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left ul li a, .navbar-right ul li a{
    text-decoration: none;
    border:1px solid var(--white);
    color: var(--very-light-pink);
    border-radius: 8px;
    padding: 8px;
}

.navbar-left ul li a:hover, .navbar-right ul li a:hover{
    border:1px solid var(--hospital-blue);
    color: var(--hospital-blue);
    
}

.navbar-email{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 10px;
}
.navbar-shopping-cart{
    position: relative;
}
.navbar-shopping-cart div{
    width: 14px;
    height: 14px;
    background-color: var(--hospital-blue);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: 700;
    position: absolute;
    top: -6px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* -----------Menu mobile ------------*/
.mobile-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: calc(100% - 24px);
    padding-left: 24px;
    background: var(--white);
    z-index: 4;
    border: 1px solid #ddd;
    
    
    /*height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;*/
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
    
}

.mobile-menu ul{
    padding: 0;
    margin: 20px 0 20px 0;
    list-style: none;
  
}

.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul:nth-child(3){
    margin-top: 0;
    margin-bottom: 50px;
}
.mobile-menu ul li {
    margin-bottom: 20px;
}

.mobile-menu .email{
    font-size: var(--sm);
    font-weight: 300;
    color: var(--very-light-pink);
}

.mobile-menu .sign-out{
    font-size: var(--sm);
    color: var(--hospital-blue);
}

/*Contenido del portafolio*/

.contenido .element1, .contenido .element1{
    margin: 20px;
}

.cards-container{
    /*display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 50px;
    place-content: center;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
    gap:50px;
 
}


/*---------------------card---------------------*/

.cards-container .card {
   
    width: var(--card-size);
    overflow: hidden;
}

.inactive-flap{
    opacity: 0;
    height: 0px;
    transition: all 0.30s 0.30s ease-out;
}

.card .img-principal{
    display: grid;
    place-items: center;
}

.card .img-principal img{
    width: 100%;
    object-fit: cover;
}

.card .card-title{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.card .card-title .title-left, .card .card-title .title-right{
    display: flex;
}


.card .card-title .title-left h2 > p{
    font-size: var(--sm);
    margin: 0;
}

.card .card-title .title-right .arrow-circle{
    margin-top: 10px;
    background-color: var(--hospital-blue);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.card .card-title .title-right .arrow-circle > span{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--white);
    
}

.card-flap {
    overflow: hidden;
    transition: all 0.30s 0.30s ease-out;
    background-color: var(--white);
    /*opacity: 1;
    height: auto;*/
  
}

.card-description{
    padding: 10px;

}
.card-description > p{
    font-size: var(--sm);
    
}
.card-actions{
    display: flex;
    justify-content: center;
  
}
.card-actions .btn{
    background-color: var(--hospital-blue);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}



@media(max-width:640px){
    .menu{
        display: block;
        
    }

    .navbar-left ul{
        display: none;
    }
    .navbar-right .navbar-email{
        display: none;
    }
}

@media(min-width:641px){
    .mobile-menu{
        display: none;
    }
}

